$primary-color: #fb7777; //alizarin
$secondary-color: #95a5a6;
$lighter-primary-color: #bdc3c7;

.vcenter {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

html{
  background-color: $primary-color;

  
  body{
    height: 100vh;
  }
  
  #calculator {
    width: 48vmin;
    height: 84vmin;
    background-color: $lighter-primary-color;
    color: #0b8d84;
  
    
    #result {
      background-color: #2c3e50;
      height: 16vmin;
      text-align: right;
      line-height: 16vmin;
      font-size: 8vmin;
      padding: 0 2vmin;
    }
    
    #preview {
      background-color: #fbdcce;
      height: 8vmin;
      text-align: right;
      line-height: 8vmin;
      font-size: 3vmin;
      padding: 0 2vmin;
    }
    
    .key {
      padding: 0;
      height: 12vmin;
      background-color: $primary-color;
      box-sizing: border-box;
      text-align: center;
      line-height: 12vmin;
      font-size: 3vmin;
      border: 1px solid $lighter-primary-color;
    
      
      &#plus {
        height: 24vmin;
        line-height: 24vmin;
      }
    
      
      &:hover {
        background-color: #ff9f88	;
      }
      
      &:active{
        background-color: #ff4646;
      }
    }
    .key-group {
      padding: 0;
    }
  }
}